doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Clean Blog - Start Bootstrap Theme
    link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
    link(rel="stylesheet", href="css/404error.css")
  body
    section.notFound
      .img
        img(src='/assets/backToTheHomepage.webp' alt='Back to the Homepage')
        img(src='/assets/delorean.webp' alt='El Delorean, El Doc y Marti McFly')
      .text
        h1 404
        h2 PAGE NOT FOUND
        h3 BACK TO HOME?
        a.yes(href='/') YES
        a(href='https://www.youtube.com/watch?v=G3AfIvJBcGo') NO