doctype html
html(lang='tr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Clean Blog - Start Bootstrap Theme
    link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
    // Core theme CSS (includes Bootstrap)
    link(href='css/style.css' rel='stylesheet')
  body
    // Navigation
    include partials/navigation
    // Page Header
    include partials/pageHeader
    // Main Content
    main.mb-4
      .container.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-md-10.col-lg-8.col-xl-7
            p#contactDescription=contactDescription
            .my-5
              if (user)
              .text-center
                a(href='/iletisim-sayfasini-duzenle')
                  i.fa-solid.fa-gear(style="font-size: 3rem;")
              form#contactForm(data-sb-form-api-token='API_TOKEN')
                .form-floating
                  input#name.form-control(type='text' placeholder='Enter your name...' data-sb-validations='required')
                  label(for='name') Name
                  .invalid-feedback(data-sb-feedback='name:required') A name is required.
                .form-floating
                  input#email.form-control(type='email' placeholder='Enter your email...' data-sb-validations='required,email')
                  label(for='email') Email address
                  .invalid-feedback(data-sb-feedback='email:required') An email is required.
                  .invalid-feedback(data-sb-feedback='email:email') Email is not valid.
                .form-floating
                  input#phone.form-control(type='tel' placeholder='Enter your phone number...' data-sb-validations='required')
                  label(for='phone') Phone Number
                  .invalid-feedback(data-sb-feedback='phone:required') A phone number is required.
                .form-floating
                  textarea#message.form-control(placeholder='Enter your message here...' style='height: 12rem' data-sb-validations='required')
                  label(for='message') Message
                  .invalid-feedback(data-sb-feedback='message:required') A message is required.
                br
                #submitSuccessMessage.d-none
                  .text-center.mb-3
                    .fw-bolder Form submission successful!
                    |                   To activate this form, sign up at
                    br
                    a(href='https://startbootstrap.com/solution/contact-forms')
                #submitErrorMessage.d-none
                  .text-center.text-danger.mb-3 Error sending message!
                // Submit Button
                button#submitButton.btn.btn-primary.text-uppercase.disabled(type='submit') Send
    // Footer
    include partials/pageFooter
    // Modal
    include partials/modal
    // Bootstrap core JS
    script(src='bootstrap5/js/bootstrap.bundle.min.js' type='text/javascript')
    // Core theme JS
    script(src='js/script.js' type='text/javascript')