.fa-gear {
  font-size: 3rem;
  color: #383838;
  transition-property: color;
  transition-duration: 400ms;
}
.fa-gear:hover {
  color: #066163;
}
#overlay {
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
  position: fixed;
  z-index: 9999;
}
#modal {
  display: none;
  border-radius: 10px;
  width: 95vw;
  height: 50vh;
  max-width: 800px;
  max-height: 800px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transition-property: left;
  transition-duration: 500ms;
  transform: translate(-50%, -50%);
  z-index: 99999;
}